body {
  background-color: #F5F5F5;
}

.every {
  width: 600px;
  height: 600px;
  border: 3px solid #FFC0CB;
  border-radius: 20px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 1.5%;
}

.addbtn {
  cursor: pointer;
}

.end {
  padding-top: 30px;
  
}